

<div style='border: 3px dashed grey'>
<%if @action%>
<h5>shhh..... Emilio <%=@action%> <%=@pronoun%> <%=@noun%></h5>
<%end%>
<img src='http://vignette3.wikia.nocookie.net/disney/images/0/0e/Bambi-10debbfb.jpg/revision/latest?cb=20120804071940'>
</div>
